@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

#nav-bar{
    visibility: collapse;
}
/* to hide the native tabs */
#TabsToolbar {
    visibility: collapse;
}



/* to hide the sidebar header */
#sidebar-header {
    visibility: collapse;
}

#content browser, .browserStack>browser {
	margin-right:-17px!important;
	margin-bottom:-17px!important;
	overflow-y:scroll;
	overflow-x:hidden;
}

@-document url("about:newtab") {
    body {
        background-color: #000000 !important;
    }
}
